body{
    background-image: url("/img/faded-office.png");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
h1{
    width: 600px;
    font-size: 80px;
    padding: 40px 40px 0px 40px;
    margin-bottom: 0px;
}
p{
    width:300px;
    font-weight:400;
    font-size: 20px;
    padding: 0px 40px 0px 40px;
    margin-bottom: 0px;
    
}
button {
    font-family: inherit;
    font-weight: bold;
    width: 150px;
    padding: 20px;
    color: white;
    margin: 40px;
    border: none;
    background-color: #0ea5e9;
    
}
.underline{
    border-bottom: 4px solid #0ea5e9;
}